h1 {
    margin-top: 4%;
    text-align: center;
    background-image: 100vh;
}
form {
    border: 1px solid black;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    height: 50vh;
}
.form {
    margin-top: 10%;
}
.field {
    margin-top: 4%;
}
.bg {
    background-image: url('{% static "assets/travel.JPEG" %}');
    background-color:rgb(11, 1, 1);
}
a {
    text-decoration: none;
    color: rgb(14, 14, 14);
    margin-left: 4%;
}