*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}
 .row {
     display: flex;
 }
 h4{
   color:purple;
 }
 .main{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color:rgb(19, 12, 29);
}
li {
    margin-left: 20%;
    list-style-type: none;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70vw;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
button {
    background-color: greenyellow;
    color: white;
    margin-top: 8vh;
    margin-left: 250%;
    height: 4vh;
    width: 5vw;
    border: 1px solid rgb(225, 231, 216);
}
.Footer{ 
    height: 20%;
    background-color: rgb(212, 209, 209);
    width: 30%;
} 

