h1 {
    margin-top: 4%;
    text-align: center;
}
form {
    border: 1px solid black;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    height: 50vh;
}
.form {
    margin-top: 10%;
}
.field {
    margin-top: 4%;
}
.bg {
    background-image: url('{% static "assets/images.JPEG" %}');
    background-color: white;
}
a {
    text-decoration: none;
    color: rgb(228, 24, 79);
    margin-left: 4%;
}