<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>sowmya</h1>
    <div>
        <div>
            <h2>User Register</h2>
            <button type="button"><a href="{% url 'From' %}">User Register</a></button>
        </div>
        <div>
            <h2>Admin Login</h2>
            <button type="button"><a href="{% url 'Login' %}">Admin Login</a></button>
        </div>
    </div>
    
</body>
</html>